@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css";
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
* {
  // color: white;
}
nav > ul * {
  font-family: $font-family;
}
.large-display-none {
  display: none;
}
@media #{$media-tablet} {
  .large-display-none {
    display: inline-block;
  }
}
